@model IEnumerable<Pelicula>

@{
    ViewData["Title"] = "Carrito";
}

<h1>Carrito</h1>


@if(Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdPelicula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Director)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sinopsis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdGenero)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPelicula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Director)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imagen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sinopsis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdGenero)
                    </td>
                    <td>
                        <a asp-controller="Peliculas"
                           asp-action="Carrito"
                           asp-route-idPeliculaEliminar="@item.IdPelicula"
                           class="btn btn-success">
                            Eliminar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Peliculas"
       asp-action="Pedidos"
       class="btn btn-success">
        Comprar
    </a>

}
else
{
    <h1>No tienes pelis pa comprar loquete</h1>
}